<section>
  <header>
    <div class="ap-header">
      <div class="ap-header__inner">
        <div class="ap-header__left">
        
          <div class="ap-header__logo">
          </div>
          
        </div>
        <div class="ap-header__center">
          <div class="ap-header__menu">
          
            
            
          </div>
        </div>
        <div class="ap-header__right">
        	
          <div class="ap-header__icons">
          
          </div>
          
        </div>
      </div>
    </div>
  </header>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
