<div class="rbrFastBundlePage" bundle-ids='{{ section.settings.bundle }}'></div>

{% schema %}
  {
    "name": "Bundle Section",
    "settings": [
{
	"type": "header",
	"content": "You need to install (Fast Bundle) App"
},
{
            "type": "text",
            "id": "bundle",
            "label": "Text",
			"info": "Paste the bundle-ids code https://prnt.sc/1t97o2i"
          }
],
    "presets": [
      {
        "name": "Bundle Section",
        "category": "custom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
