

<section id="custom-product-list" class="section-separator">

  <div class="product-list">
    <div class="container">
      
      <div class="product-list-main-title">
        <h3>{{ section.settings.title }}</h3>
      </div>
      
      <div class="row">
        
        {% for block in section.blocks %}
        {%- assign product = all_products[block.settings.product] -%}
        <div class="col-lg-3 col-md-3 col-12">
          <div class="product-list-box">
            <div class="show-img">
              <img src="{{ product.featured_image.src | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" />
            </div>
            <div class="product-list-overlay">
              <h3 class="product-list-title">{{ product.title }}</h3>
            </div>
          </div>
        </div>
        
        {% endfor %}
        
      </div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Custom Product List",
    "settings": [
{
               "type":"text",
               "id":"title",
               "label":"Collection title"
            }

		],
"blocks":[
    {
      "type":"item",
      "name":"item",
      "settings":[
        {
          "type":"product",
          "id":"product",
          "label":"Select Product"
        }
      ]
    }
  ],
		"presets":[
        {
            "name":"Custom Product List",
            "category":"custom"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
