
<style>
  
  .faq{
  	padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .faq__border{
    display: block !important;
    border-bottom: 2px solid #3e5242;
    width: 50px;
    margin: 0 0 50px 0;
  	border-color: #00a4bd;
    margin-right: 50px;
    margin-left: 0px;
  }
  .faq h1 {
	 margin: 60px 0;
}
 .accordion__item {
	 padding: 20px;
	 margin-bottom: 20px;
	 border: 1px solid #f2f2f2;
	 border-radius: 4px;
	 box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
}
 .accordion__body {
	 display: none;
	 padding-top: 10px;
}
 .accordion__body p {
	 margin-bottom: 0;
}
 .accordion__title {
	 font-size: 18px;
	 cursor: pointer;
	 margin-bottom: 0;
	 position: relative;
}
 .accordion__title:after {
	 content: "";
	 width: 20px;
	 height: 20px;
	 position: absolute;
	 right: 0;
	 top: 0;
	 background: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABlUlEQVRIS72V6zEEQRSFv81ABogAESADIiADRIAIEAEiQASIABmQgQyor+rerZ7enp71Y92qqZrpxznnPmfGim22YnyWITgGdoHteNT0Hs8j8NQT2SM4AK6AjQkvP4EzQLIFGyO4Bk7i9Bfg90uodllv9oBTYD3OeUaigbUISnAv+N0zSfRUuwnS+fmawLA8xO5OoXiqFvToLQ4dluGqCYynLi+jvCZNT8TYzM2SwGq5BYz5VGLHPEqBcy9KgjvgqFJ/ETn4HkFci2K4jP304h5Q8KAPrO0tIGMv+HnkYR+oSQR/joqSwPOZC7HEGRD8hIr0SgBLU1IvlCQl+EeUbAoY4JQhqgnka5G4nsprcPdGCeoQZdhrkmy0FniGyD3fByFqJblF4loL3PVukrPJBnVcVE964pJjolVZ3TL14lSjSaK1wFP9oI/+fVSorhx2qnKA9exPwy6BShLD5vdrNa79CQmeY2VhktZVVKs06QLnvB/zwphL9KcfTgkmkY91bVdnmdo3gjaBE2CZf/JECvrbKyf4BdpXaxkir2UhAAAAAElFTkSuQmCC') no-repeat;
	 background-size: 20px;
}
 .accordion__title.active {
	 color: #2b9fdf;
}
 .accordion__title.active:after {
	 transform: rotate(-180deg);
}
 
  
</style>

<script>
  $(document).ready(function() {
    $(".accordion__title.active").next().slideDown();
    $(".accordion__title").on("click", function () {
      if( $(this).hasClass('active') ) {
        $(this).removeClass("active").next().slideUp();
      } else {
        $(".accordion__title.active").removeClass("active").next(".accordion__body").slideUp();
        $(this).addClass('active').next('.accordion__body').slideDown();
      }
    });
  });

  
</script>


<section>
  <div class="faq">
    <div class="container">
      <div class="faq__inner">
        <div class="faq__border"></div>
        <div class="faq__title">
          <h3>{{ section.settings.title }}</h3>
        </div>

        <div class="accordion">
          {% for block in section.blocks %}
          <div class="accordion__item">
            <h2 class="accordion__title">{{ block.settings.title }}</h2>
            <div class="accordion__body">
              <p>{{ block.settings.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "FAQ",
    "settings": [
		{
                    "type":"text",
                    "id":"title",
                    "label":"Title"
                }
	],
	"blocks":[
        {
            "type":"item",
            "name":"item",
            "settings":[
{
                    "type":"text",
                    "id":"title",
                    "label":"Question"
                },
{
                    "type":"textarea",
                    "id":"text",
                    "label":"Answers"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"FAQ",
            "category":"custom"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
