
<style>
  
  .faq{
  	padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .faq__border{
    display: block !important;
    border-bottom: 2px solid #3e5242;
    width: 50px;
    margin: 0 0 50px 0;
  	border-color: #00a4bd;
    margin-right: 50px;
    margin-left: 0px;
  }
  .faq__title h3{
  	color: #222;
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.1em;
  }
  .accordion{
    border-top: 1px solid rgba(238, 238, 238, 1);
    margin-top: 25px;
  }
  .accordion__item {
    border-bottom: 1px solid rgba(238, 238, 238, 1);
  }
  .accordion__title {
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
    color: #3e5242;
    font-size: 18px;
    padding: 15px 25px 15px 15px;
    transition: all .4s ease-in-out;
    text-decoration: none;
  }
  .accordion__title:hover{
  	background-color: rgba(153, 153, 153, 0.1);
  }
  .accordion__title:after {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    content: " ";
    top: 20px;
    border-right: 1px solid rgba(102, 102, 102, 1);
    border-bottom: 1px solid rgba(102, 102, 102, 1);
    transform: rotate(
-45deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .accordion__title.active:after {
    transform: rotate(
45deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .accordion__body {
    display: none;
    padding: 20px 50px 30px;
  }
  .accordion__body p {
    color: #444;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.3em;
    margin-bottom: 1rem;
    text-align: left;
  }
 
  
</style>

<script>
  $(document).ready(function() {
    $(".accordion__title.active").next().slideDown();
    $(".accordion__title").on("click", function () {
      if( $(this).hasClass('active') ) {
        $(this).removeClass("active").next().slideUp();
      } else {
        $(".accordion__title.active").removeClass("active").next(".accordion__body").slideUp();
        $(this).addClass('active').next('.accordion__body').slideDown();
      }
    });
  });

  
</script>


<section>
  <div class="faq">
    <div class="container">
      <div class="faq__inner">
        <div class="faq__border"></div>
        <div class="faq__title">
          <h3>{{ section.settings.title }}</h3>
        </div>

        <div class="accordion">
          {% for block in section.blocks %}
          <div class="accordion__item">
            <h2 class="accordion__title">{{ block.settings.title }}</h2>
            <div class="accordion__body">
              <p>{{ block.settings.text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "FAQ",
    "settings": [
		{
                    "type":"text",
                    "id":"title",
                    "label":"Title"
                }
	],
	"blocks":[
        {
            "type":"item",
            "name":"item",
            "settings":[
{
                    "type":"text",
                    "id":"title",
                    "label":"Question"
                },
{
                    "type":"textarea",
                    "id":"text",
                    "label":"Answers"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"FAQ",
            "category":"custom"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
