<style>
  .gallery{
    background-color: rgba(253, 250, 242, 1);
  }
  .gallery__title h3{
    text-align: center;
    color: #3e5242;
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.1em;
  }
  .gallery__subtitle p{
    text-align: center;
    color: #3e5242;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.1em;
  }
  .gallery__box{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .caption{ 
    text-align: center;
    margin-bottom: 30px;
  }
  .fancybox-bg{
    background: #fff;
    display: block !important;
  }
  .caption a{ 
    text-decoration: none; 
    color: #000; 
  } 
  .caption a:hover{ 
    text-decoration: none; 
    color: #000; 
  } 
  .caption h3{    
    font-size: 16px;
    padding-top: 5px;
    margin: 0px;
  }
  .caption img{
    height: 175px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: box-shadow 0.25s ease;
  }
  .caption a:hover img{
    box-shadow: 0 10px 20px rgb(0 0 0 / 25%);
  } 
  @media only screen and (max-width: 991px){
    .gallery__title h3{
      font-size: 24px;
      line-height: 30px;
    }
    .gallery__subtitle p{
    	font-size: 14px;
    }
    .gallery__box{
    	padding: 30px 0;
    }
    .caption img{
    	height: 150px;
    }
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {  
    $("a.grouped_elements").fancybox();
  });
</script>

<section>
  <div class="gallery">
    <div class="container">
      <div class="gallery__inner">
        <div class="gallery__title">
          <h3>{{ section.settings.title }}</h3>
        </div>
        <div class="gallery__subtitle">
          <p>{{ section.settings.subtitle }}</p>
        </div>
        <div class="gallery__box">
          <div class="row">

            {% for block in section.blocks %}
            <div class="col-lg-3 col-3 col-6">
              <div class="caption">
                <a data-fancybox="gallery" href="{{ block.settings.img | img_url: 'master' }}">
                  <img class="lazyload" src="{{ block.settings.img | img_url: 'master' }}">
                </a>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
{
  "name":"Gallery",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Title"
    },
    {
      "type":"text",
      "id":"subtitle",
      "label":"Sub Title"
    }
  ],
  "blocks":[
    {
      "type":"image",
      "name":"image",
      "settings":[
        {
          "type":"image_picker",
          "id":"img",
          "label":"Gallery Image"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Gallery",
      "category":"custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
