<style>

  .custom-parallax__inner {
    background: url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/home.jpg) 50% 0 repeat fixed; min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
  }

  .custom-parallax__inner article {
    background: url("https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/intro.png") no-repeat scroll center top transparent;
    height: 458px; 
    position: absolute; 
    text-indent: -9999px; 
    top: 291px; 
    width: 100%;
  }

</style>


<script>
  $(document).ready(function() {
  
  // Find the initial scroll top when the page is loaded.
  var initScrollTop = $(window).scrollTop();
  
  // Set the image's vertical background position based on the scroll top when the page is loaded.
  $(parallax1).css({'background-position-y' : (initScrollTop/75)+'%'});
  
  // When the user scrolls...
  $(window).scroll(function() {
    
    // Find the new scroll top.
    var scrollTop = $(window).scrollTop();
    
    // Set the new background position.
    $(parallax1).css({'background-position-y' : (scrollTop/75)+'%'});
    
  });
  
});
</script>

<section>
  <div class="custom-parallax">
    <div id="parallax1" class="custom-parallax__inner" data-type="background" data-speed="10">

      <article>

        <div class="custom-parallax__box">
          <div class="custom-parallax__box-subtitle">
            <p>subtitle</p>
          </div>
          <div class="custom-parallax__box-title">
            <h2>title</h2>
          </div>
          <div class="custom-parallax__box-text">
            <p>text</p>
          </div>
          <div class="custom-parallax__box-link">
            <a href=""></a>
          </div>
        </div>

      </article>

    </div>
  </div>
</section>








{% schema %}
 {
    "name":"Custom parallax section",
    "max_blocks":15,
    "settings":[
        {
            "type":"text",
            "id":"title",
            "label":"Heading",
            "default":"Collection Title"
        }
    ],
    "blocks":[
        {
            "type":"collection",
            "name":"Collection",
            "settings":[
                {
                    "id":"collection",
                    "type":"collection",
                    "label":"Collection"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Custom parallax section",
            "category":"Collection"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
