<style>

  .custom-parallax__inner {
    background: url(https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/home.jpg) 50% 0 repeat fixed; min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
  }

  .custom-parallax__inner article {
    background: url("https://cdn.tutsplus.com/net/uploads/legacy/2138_SimpleParallax/Demo/images/intro.png") no-repeat scroll center top transparent;
    height: 458px; 
    position: absolute; 
    text-indent: -9999px; 
    top: 291px; 
    width: 100%;
  }

</style>


<script>
  
</script>

<section>
  <div class="custom-parallax">
    <div class="custom-parallax__inner" data-type="background" data-speed="10">

      <article>

        <div class="custom-parallax__box">
          <div class="custom-parallax__box-subtitle">
            <p>subtitle</p>
          </div>
          <div class="custom-parallax__box-title">
            <h2>title</h2>
          </div>
          <div class="custom-parallax__box-text">
            <p>text</p>
          </div>
          <div class="custom-parallax__box-link">
            <a href=""></a>
          </div>
        </div>

      </article>

    </div>
  </div>
</section>








{% schema %}
 {
    "name":"Custom parallax section",
    "max_blocks":15,
    "settings":[
        {
            "type":"text",
            "id":"title",
            "label":"Heading",
            "default":"Collection Title"
        }
    ],
    "blocks":[
        {
            "type":"collection",
            "name":"Collection",
            "settings":[
                {
                    "id":"collection",
                    "type":"collection",
                    "label":"Collection"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Custom parallax section",
            "category":"Collection"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

$(document).ready(function(){
    // Cache the Window object
    $window = $(window);

    $('section[data-type="background"]').each(function(){
      var $bgobj = $(this); // assigning the object

      $(window).scroll(function() {

        // Scroll the background at var speed
        // the yPos is a negative value because we're scrolling it UP!								
        var yPos = -($window.scrollTop() / $bgobj.data('speed')); 

        // Put together our final background position
        var coords = '50% '+ yPos + 'px';

        // Move the background
        $bgobj.css({ backgroundPosition: coords });

      }); // window scroll Ends

    });	

  }); 
  /* 
 * Create HTML5 elements for IE's sake
 */

  document.createElement("article");
{% endjavascript %}
