<style>
  .timer{
  	padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(253, 250, 242, 1.0);
  }
  .timer .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
    float: none !important;
  	max-width: 1000px !important;
  }
  .timer__title{
  	margin-bottom: 25px;
  }
  .timer__title h2{
  	color: #222;
    text-align: center;
    font-size: 37px;
    text-decoration: none;
    text-transform: unset;
    letter-spacing: 0px;
    line-height: 1.1em;
    margin-bottom: .5rem;
  }
  .timer__timerbox{
  	margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .timer__timerbox li{
    min-width: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .timer__timerbox li span{
    font-size: 46px;
    font-weight: 600;
    color: rgba(62, 82, 66, 1.0);  
  }
</style>



<script>
(function () {
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    let birthday = "{{ section.settings.set_timer }}",
        countDown = new Date(birthday).getTime(),
        x = setInterval(function () {
            let now = new Date().getTime(),
                distance = countDown - now;

            (document.getElementById("days").innerText = Math.floor(distance / day)),
                (document.getElementById("hours").innerText = Math.floor((distance % day) / hour)),
                (document.getElementById("minutes").innerText = Math.floor((distance % hour) / minute)),
                (document.getElementById("seconds").innerText = Math.floor((distance % minute) / second));

            //do something later when date is reached
            if (distance < 0) {
                let headline = document.getElementById("headline"),
                    countdown = document.getElementById("countdown");

              headline.innerText = "{{ section.settings.timeout_msg }}";
                countdown.style.display = "none";

                clearInterval(x);
            }
            //seconds
        }, 0);
})();

</script>

<section>

  <div class="timer">
    <div class="timer__inner">
      <div class="container">
        <div class="bannertimer__box">
          <div class="timer__title">
            <h2>{{section.settings.timer_title}}</h2>
          </div>
          <div class="timer__timer">
            <p id="headline"></p>
            <div id="countdown">
              <ul class="timer__timerbox">
                <li>
                  <p>Days</p>
                  <span id="days"></span>
                </li>
                <li>
                  <p>Hours</p>
                  <span id="hours"></span>
                </li>
                <li>
                  <p>Minutes</p>
                  <span id="minutes"></span>
                </li>
                {% if section.settings.show_seconds %}
                <li>
                  <p>Seconds</p>
                  <span id="seconds"></span>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>





{% schema %}
 {
    "name":"Timer",
    "settings":[
        {
            "type":"header",
            "content":"Remaining Timer"
        },
        {
            "type":"text",
            "id":"timer_title",
            "label":"Timer Title",
            "default":"Verdens første tørre strømmer sendes om.."
        },
        {
            "type":"text",
            "id":"timeout_msg",
            "label":"Timeout message",
            "default":"Your timeout"
        },
        {
            "type":"text",
            "id":"set_timer",
            "label":"Set Remaining Timer",
            "default":"dec 22, 2024 2:10:20",
            "info":"Please Enter Timer Format like this (dec 12, 2025 00:00:00) and must SAVE"
        },
        {
            "type":"checkbox",
            "id":"show_seconds",
            "label":"Show Seconds In Timer",
            "default":true
        }
    ],
    "presets":[
        {
            "name":"Timer",
            "category":"custom"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
